*, html, body, ul, a, li, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: #373737;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #eceff1;
}

.navbar, .navbar-brand p, .navbar-item, .navbar-link {
    color: #eceff1;
    background: none;
}

.navbar-burger {
    background-color: #eceff1 !important;
    border-radius: 50%;
}

.navbar-burger span{
    height: 2px;
}

.navbar-brand p:hover, .navbar-item:hover, .navbar-link:hover, .navbar-item p:hover {
    color: #121212 !important;
    background: none !important;
}

.navbar-item.has-dropdown:hover .navbar-link {
    background-color: #373737 !important;
}

.navbar-dropdown {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #373737;
}

.dropP {
    color: #eceff1;
}

.homeMenu {
    height: 100vh;
    padding: 0;
}

.mainGallery {
    /*top: 52px;*/
    margin: 0;
}

.startCat {
    min-height: calc(100vh / 4);
    max-width: 100vw;
    background-size: cover;
    position: relative;
}

.firstLinks {
    position: absolute;
    top: 85%;
    color: #eceff1;
}

.firstLinks ul {
    font-family: 'Assistant', serif;
}

.archviz {
    background-image: url(images/archviz_01.jpg);
    background-position: 50%;
}

.prod {
    background-image: url(images/id_03.jpg);
    background-position: 50%;
}

.env {
    background-image: url(images/env_01.jpg);
    background-position: 50%;
}

.diverse {
    background-image: url(images/abs_03.jpg);
    background-position: 47%;
}

/*.footer {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', serif;
    font-size: .9rem;
    position: absolute;
    bottom: 1px;
    right: 5px;
    background: none;
}*/

.imgGal {
    object-fit: cover;
}


@media screen and (min-width: 1024px) {
    .navbar-item.has-dropdown:hover {
        background-color: #373737 !important;
    }
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #373737 !important;
    }
    .dropP {
        padding-left: 6px;
        background-color: #373737 !important;
    }

    .firstLinks {
        position: absolute;
        top: 62%;
    }
    
    .dropP p {
        padding-left: 20px;
    }
}
