*, ul, a, li, .col, .row, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    scroll-behavior: smooth;
    background-color: #2c2c2c;    
}

body {
    width: 100vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    background-color: #2c2c2c;
}

.nav-item {
    font-size: 15px;
    color: white;
}

.nav-link:hover {
    color: #0d6efd;
}

.main {
    width: 100vw;
    height: 85vh;
}

.slide-1 {
    background: url('images/archviz_03.jpg');
    background-position-y: 80%;
}

.slide-2 {
    background: url('images/archviz_02.jpg');
}

.slide-3 {
    background: url('images/abs_03.jpg');
    background-position-y: 45%;
}

.slide-4 {
    background: url('images/abs_06.jpg');
}

.slide-5 {
    background: url('images/id_08.jpg');
}

.slide-6 {
    background: url('images/abs_01.jpg');
}

.slide {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position-x: center;
    position: relative;
    overflow-x: hidden;
}

.introTitle {
    height: 10vh;
    margin-top: 20px;
    color: white;
    line-height: 1.5rem;
}

.introTitleAbout {
    height: 8vh;
    margin: 20px auto 0;
    color: white;
    line-height: 2.5rem;
}

.prof {
    font-family: 'Assistant', sans-serif;
}

.gallery {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

figure {
    margin: 0 !important;
}

.footer {
    height: 80px;
    margin-top: auto;
    font-family: "Assistant", sans-serif;
    color: white;
    background-color: black;
}

.contactInfo {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.some-icons {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: white;
    transition: transform 0.4s;
}

.some-icons:hover {
    transform: scale(1.35);
}

.infoAbout {
    font-family: 'Assistant', sans-serif;
    text-align: justify;
}

.toolTitle {
    font-size: 25px;
}

.certImg {
    max-height: 120px;
}

@media screen and (max-width: 990px) {
    .slide {
        height: 80vh;
    }

    .infoAbout {
        text-align: center;
    }
}