*, ul, a, li, .col, .row, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.navbar a {
    font-size: .95rem;
}

.menu {
    margin-top: 1vh;
    height: 4vh;
}

.gallery {
    min-height: 70vh;
    max-height: 100%;
    max-width: 80vw;
}

.img-fluid {
    object-fit: cover;
}

.caption {
    margin: 0;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ededed;
    font-weight: 600;
}

h4 {
    font-weight: 600;
}

li, a {
    text-decoration: none;
    list-style: none;
}

.navbar a {
    font-weight: 600;
}

.navbar-right {
    justify-content: flex-end;
}

.dropdown-menu a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.cat a {
    font-size: 0.8rem;
    color: black;
}

.some-icons {
    font-size: 1.2rem;
    color: black;
    transition: transform 0.4s;
}

.some-icons:hover {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.35);
}

.menu-cat {
    height: 40px;
}

.toolClass {
    height: 30px;
}

.tools-text {
    font-size: 0.8rem;
    line-height: 2;
}

.tools-text ul {
    list-style-type: none;
}

.cert-text {
    font-size: .7rem;
}

.certImg {
    height: 80px;
}

.certImgBig {
    height: 75px;
}

.footer {
    width: 75vw;
    font-size: 0.75rem;
}