*, ul, a, li, .col, .row, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    color: #eaeaea;
    background-color: #121212;
}

.navbar {
    z-index: 99;
    background: linear-gradient(#121212, #12121200);
}

.navbar-toggler-icon {
    color: #eaeaea !important;
}

.navbar, .navbar-brand, .navbar-right, .nav-link {
    font-family: 'Rubik', sans-serif;
    font-size: calc(0.8rem * 1vw);
    font-weight: 300 !important;
    letter-spacing: 1px;
    color: #eaeaea !important;
}

.flexCols {
    min-height: calc(100% / 4);
    max-width: 100vw;
    background-size: cover;
    position: relative;
}

.archviz {
    background-image: url(images/archviz_01.jpg);
    background-position: 45%;
    background-size: cover;
}

.prod {
    background-image: url(images/id_03.jpg);
    background-position: 50%;
    background-size: cover;
}

.env {
    background-image: url(images/env_01.jpg);
    background-position: 50%;
    background-size: cover;
}

.diverse {
    background-image: url(images/abs_03.jpg);
    background-position: 47%;
    background-size: cover;
}

.caption {
    position: absolute;
    top: 90vh;
    color: #eaeaea;
    font-size: 1.3rem;
    font-weight: 500 !important;
}

@media screen and (max-width: 767px) {
    .caption {
        position: absolute;
        top: 80%;
        font-size: calc(0.9rem * 0.75vw) !important;
        font-weight: 500 !important;
    }
}

.scrollDiv {
    width: 50%;
    overflow-y: auto !important;
}







.navbar a {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
}

.menu {
    font-family: 'Rubik', sans-serif;
    margin-top: 1vh;
    height: 4vh;
}

.homeMenu {
    height: 100vh;
    padding: 0;
}

.img-fluid {
    object-fit: cover;
}


h4 {
    font-family: 'Rubik', sans-serif;
}

li, a {
    text-decoration: none;
    list-style: none;
}

.navbar a {
    font-weight: 600;
}

.navbar-right {
    justify-content: flex-end;
}

.dropdown-menu a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.cat a {
    /*font-size: 0.8rem;*/
    color: black;
}

.some-icons {
    font-size: 1.2rem;
    color: black;
    transition: transform 0.4s;
}

.some-icons:hover {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transform: scale(1.35);
}

.menu-cat {
    height: 40px;
}

.toolClass {
    height: 30px;
}

.tools-text {
    line-height: 1.6;
    font-family: "Assistant", sans-serif;
}

.mainAb {
    padding-left: 50px;
    padding-right: 50px;
}

.tools-text ul {
    list-style-type: none;
}

.cert-text {
    font-size: .7rem;
}

.certImg {
    height: 80px;
}

.certImgBig {
    height: 75px;
}

.footer {
    width: 75vw;
    font-size: 0.75rem;
}

